body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: 8px solid #383737;
  margin: 4rem auto;
  padding: 3rem;
  background-image: linear-gradient(
      100deg,
      rgba(176, 220, 203, 0.4),
      rgba(224, 226, 230, 0.4)
    ),
    url(../images/background-picture2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #616263;
  border-radius: 30px;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
  margin: 40px auto;
  width: 800px;
  height: 830px;
}
.form-control {
  border: 1px solid grey;
  border-radius: 4px;
}
#city-search {
  padding-right: 30px;
  padding-left: 30px;
}

#place {
  margin-bottom: 0px;
}
#date {
  margin-top: 0;
  margin-bottom: 0px;
}

#city-search,
#current-location-button {
  transition: all 200ms ease-in-out;
}

#current-location-button {
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 25px;
}
#temps {
  padding-top: 110px;
  font-size: 30px;
  padding-left: 17px;
}

#units-celsius,
#units-fahrenheit {
  text-decoration: none;
  font-size: 30px;
}

.city-name {
  padding-top: 30px;

  padding-left: 12px;
  padding-bottom: 30px;
  font-size: 50px;
}
.day {
  font-size: 30px;
}

#current-temp {
  font-size: 50px;
  padding-top: 70px;
  padding-right: 10px;
  font-weight: bolder;
}
#actual-temp {
  font-size: 60px;

  padding-top: 100px;
  padding-left: 10px;
}
#list {
  font-size: 15px;
  padding-top: 120px;
  padding-left: 0px;
}
#value-list {
  list-style: none;
}

#weather {
  font-size: 20px;
  padding-bottom: 30px;
}

#weather:first-letter {
  text-transform: capitalize;
}

#sunrise {
  width: 50px;
}
#sunset {
  font-weight: 700;
}
#sunrise,
#sunrise1,
#sunset {
  padding-top: 40px;
}

#middle,
#middle-1 {
  height: 260px;
}

#sunny-interval {
  width: 250px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

#today {
  width: 60px;

  position: relative;
  left: -10px;
}

#day-1 {
  width: 60px;
  position: relative;
  left: -10px;
}

#day-2 {
  width: 60px;
  position: relative;
  left: -15px;
}
#day-3 {
  width: 60px;
  position: relative;
  left: -10px;
}
#day-4 {
  width: 60px;
  position: relative;
  left: -10px;
}
#day-5 {
  width: 60px;
  position: relative;
  left: -10px;
}
#weekday1,
#weekday2,
#weekday3,
#weekday4,
#weekday5,
#weekday6 {
  list-style: none;
}

#today-1,
#next-day,
#next-day1,
#next-day2,
#next-day3,
#next-day4 {
  border: 1px solid #616263;
  border-radius: 12px;
}

#day-11,
#day-12,
#day-13,
#day-14,
#day-15,
#day-16,
#high-temp1,
#high-temp2,
#high-temp3,
#high-temp4,
#high-temp5,
#high-temp6 {
  font-weight: bold;
}

#source-link {
  text-decoration: none;
}

#linkedin {
  text-decoration: none;
}

#source-code {
  background-color: rgb(206, 204, 204);
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  border-radius: 7px;
}

#source-link:hover {
  text-decoration: underline;
  text-decoration-color: #0a58ca;
}

#linkedin:hover {
  text-decoration: underline;
  text-decoration-color: #0a58ca;
}
